body {
    background-color: rgb(29, 28, 29);
}

table {
    width: 100%;
    height: 100%;
}

th, td {
    color: rgb(44, 41, 49);;
    text-align: center;
    font-size: 5cm;
    font-family: 'Helvetica Neue', sans-serif;
    transition: color 1s cubic-bezier(.08,.82,.17,1) 0ms;
}

th:hover, td:hover {
    color: white;
}